.search-input {
  margin-top: 30px;
  width: 700px;
  padding: 0.9rem 2rem;
  border-radius: 100px;
  border: solid 1px rgb(129, 17, 204);
  font-size: 15px;
  transition: box-shadow 0.04s ease-out;
  background-color: whitesmoke;
  color: rgb(46, 44, 53);
}

.search-input::placeholder {
  color: hsl(276, 43%, 70%);
}
.search-input:hover,
.search-input:focus {
  outline: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.8);
}
